<!-- ko if: invitationLink && invitationLink() !== '' -->
<div class="row">
	<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_LINK'}"></span>
	<span class="value">
		<input class="input disabled" readonly data-bind="value: invitationLink, onFocusSelect: true" />
	</span>
</div>
<div class="row hint">
	<span class="value offset" data-bind="i18n: {'key': '%MODULENAME%/INFO_PASS_LINK_TO_USER'}"></span>
</div>
<div class="row buttons" data-bind="visible: bEnableSendInvitationLinkViaMail" style="text-align: left;">
	<span class="label"></span>
	<span class="button" data-bind="i18n: {'key': '%MODULENAME%/ACTION_RESEND'}, click: resendInvitationLink"></span>
</div>
<div class="row"></div>
<!-- /ko -->
