<span class="item cut" data-bind="command: cutCommand, customTooltip: '%MODULENAME%/ACTION_CUT'">
	<span class="icon"></span>
	<span class="text" data-bind="i18n: {'key': '%MODULENAME%/ACTION_CUT'}"></span>
</span>
<span class="item copy" data-bind="command: copyCommand, customTooltip: '%MODULENAME%/ACTION_COPY'">
	<span class="icon"></span>
	<span class="text" data-bind="i18n: {'key': '%MODULENAME%/ACTION_COPY'}"></span>
</span>
<span class="item paste" data-bind="command: pasteCommand, customTooltip: pasteTooltip">
	<span class="icon"></span>
	<span class="hint" data-bind="text: savedItemsCount, visible: savedItemsCount() > 0"></span>
	<span class="text" data-bind="i18n: {'key': '%MODULENAME%/ACTION_PASTE'}"></span>
</span>
