:root{
    --mdc-typography-font-family: 'Fira Sans', sans-serif;
    --mdc-theme-primary: #136fb7;
    --mdc-theme-secondary: #ec2326;
    --mdc-theme-third: #72bf44;
    --mdc-theme-background: #FFFFFF;
    --mdc-theme-on-surface: rgba(0,0,0,0.87);
}

.mdc-typography,
.mdc-typography--headline1,
.mdc-typography--headline2,
.mdc-typography--headline3,
.mdc-typography--headline4,
.mdc-typography--headline5,
.mdc-typography--headline6,
.mdc-typography--overline,
.mdc-typography--subtitle1,
.mdc-typography--subtitle2,
.mdc-typography--body1,
.mdc-typography--body2,
.mdc-typography--button,
.mdc-typography--caption{
    font-family: 'Fira Sans', sans-serif !important;
}
.mdc-typography--headline1,
.mdc-typography--headline2,
.mdc-typography--headline3{
    font-weight: 100;
}
.mdc-typography--headline4,
.mdc-typography--headline5,
.mdc-typography--headline6{
    font-weight: 400;
}
.mdc-typography--subtitle1,
.mdc-typography--subtitle2{
    font-weight: 400;
}
.mdc-typography--body1,
.mdc-typography--body2,
.mdc-typography--caption{
    font-weight: 300;
}
.mdc-typography--button{
    font-weight: 500;
}

/* TOP BAR */
.mdc-top-app-bar{background-color: var(--mdc-theme-background);}
.mdc-top-app-bar__section--align-center{justify-content: center;}
.mdc-top-app-bar--fixed{bottom: 0; position: absolute}
.mdc-top-app-bar__section{border-left: 1px solid rgba(0,0,0,0.2)}
.mdc-top-app-bar .mdc-button{
    width: 100%; height: 100%;
}

/* BUTTON */
.mdc-fab{background-color: var(--mdc-theme-secondary, #ec2326);}
.mdc-fab--mini{
    width: 30px; height: 30px;
    text-align: center;
}
.mdc-button .mdc-button__icon,
.mdc-fab .mdc-fab__icon{
    font-size: unset;
}
.mdc-icon-button{display: flex;}

/* CARD */
.mdc-card{margin-bottom: var(--mdc-layout-grid-gutter-desktop, 24px);}
.mdc-card__media{
    margin: 1rem 1rem 0 1rem;
    background-size: contain; background-position: left;
}

/* FORM */
.mdc-text-field{width: 100%}