<div class="screen FileStorageLayout no-public" style="display: none;">
	<div class="panels" data-bind="splitterFlex: {name: 'files_list', sizes: [20, 80]}">
		<div class="panel left_panel storages_panel">
			<div class="panel_content">
				<div class="buttons big_single_button">
					<span class="button" data-bind="initDom: uploaderButton"> 
						<span data-bind="i18n: {'key': '%MODULENAME%/ACTION_UPLOAD_FILES'}"></span> 
					</span>
				</div>
				<div class="middle_bar" data-bind="css: {'quota_visible': -1 < quotaProc()}">
					<!-- ko template: { name: '%ModuleName%_StoragesPanelView'} --><!-- /ko -->
					<div class="panel_bottom" data-bind="style: { minHeight: (24 + 16 * aBottomLeftCornerLinks.length) + 'px' }">
						<div data-bind="foreach: aBottomLeftCornerLinks" style="font-size: 8pt; line-height: 16px; text-align: center;">
							<a target="_blank" data-bind="i18n: {'key': Lang}, attr: {href: Link}" style="display: block; outline: none;"></a>
						</div>
						<span class="volumer" data-bind="visible: -1 < quotaProc()">
							<span class="volumer_conteiner" data-bind="customTooltip: quotaDesc()">
								<span class="used" data-bind="style: {'width': '' + (-1 < quotaProc() ? quotaProc() : 0) + '%' }"></span>
							</span>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="panel center_panel files">
			<div class="panel_content">
				<div class="toolbar" data-bind="template: { name: '%ModuleName%_ToolbarView'}"></div>
				<div class="middle_bar" data-bind="template: {name: '%ModuleName%_FilesPanelView'}"></div>
			</div>
		</div>
	</div>
</div>
