<div class="item folder" 
	data-bind="
		draggablePlace: !$parent.bInPopup ? $parent.dragAndDropHelperBound : null,
		draggableDragStartCallback: function() {if (!$parent.bInPopup) $root.dragover(true);},
		draggableDragStopCallback: function() {if (!$parent.bInPopup) $root.dragover(false);},
		css: {'selected': selected, 'checked': checked, 'deleted': deleted, 'published': published}"
>
	<div class="item_content ui-droppable dragHandle" data-bind="css: {'recivedAnim': recivedAnim()}, droppable: {valueFunc: function (oEvent, oUi) {$root.filesDrop($data, oEvent, oUi);}}">
		<div class="image">
			<span class="icon animGoal"></span>
		</div>
		<span class="published_icon" data-bind="click: function (oItem) { $root.onShareIconClick(oItem); }"></span>
		<!-- ko if: (isShared()) -->
		<span class="shared-image"></span>
		<!-- /ko -->
		<span class="name" data-bind="text: fileName()"></span>
		<div class="separator"></div>
	</div>
</div>
