
/* HEADER */
.gsf-header--bg__condominio{
    background-image: url(../img/header/remow_gsf-header--bg__condominio.jpg);
}

/* PAGAMENTO */
.gsf-pagamento--image__condominio{
    background-image: url(../img/pagamento/remow_gsf-pagamento--bg__condominio.jpg);
}

/* TESTEMUNHO */
.gsf-testemunho__condominio{
    background-image: url(../img/testemunho/bg/remow_gsf-testemunho--bg__agua.jpg);
}