/* MENU */
.gsf--scroll{
    transition: all .5s ease-in-out;
        -webkit-transition: all .7s ease-in-out;
}
.gsf-menu--logo img{height: 46px; vertical-align: middle}
.gsf-menu__active{border-bottom: solid 2px; bottom: -2px}

/* DRAWER */
.mdc-drawer__header img{height: 4rem}

/* HEADER */
.gsf-header--bg{
    background-size: contain;
    background-position: -25vw 0;
    background-repeat: no-repeat;
    height: 100%;
}
.gsf-header__inner{height: calc(100vh - 2 * var(--mdc-layout-grid-margin-desktop))}
.gsf-header--logo img{height: 7rem; margin-bottom: 0.8rem}
.gsf-header--logo{}
.gsf-header--logo .mdc-typography--headline4{margin-top: 0px; text-transform: uppercase}
.gsf-header--logo .mdc-typography--overline{margin-bottom: 0px;}
.gsf-header__card{background-color: #44789D;}
.gsf-header .mdc-button--group__pile {padding: 0rem}

/* SECTIONS */
section.gsf-gap {
    padding-top: 4rem; padding-bottom: 4rem;
    margin-top: 4rem; margin-bottom: 4rem;
}

/* PROCESSOS */
.gsf-processos__analise{background-color: #AC615A; display: flex; position: relative}
.gsf-processos__operacao{background-color: #44789D; display: flex; position: relative}
.gsf-processos__manutencao{background-color: #EAE363; display: flex; position: relative}

/* PAGAMENTO */
.gsf-pagamento .mdc-button--group__side{margin-bottom: 28px}
.gsf-pagamento--image{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 -24px;
}

.gsf-pagamento--esquema{text-align: center}
.gsf-pagamento--esquema i{color: #44789D}

/* VARIEDADES */
section.gsf-variedades{margin-bottom: 8rem}

/* TESTEMUNHO */
.gsf-testemunho{
    background-size: cover;
    background-position: center;
    background-color: lightgray;
    background-blend-mode: overlay;
}

.gsf-testemunho a{background-color: rgba(255,255,255,0.5); padding: 0 .25rem}
.gsf-testemunho .mdc-card{background-color: rgba(0,0,0,0.5); text-align: center}
.gsf-testemunho .mdc-typography--overline{line-height: 1.5rem}
.gsf-testemunho--avatar{border-radius: 100%; height: 4rem}

/* FOOTER */
.gsf-footer{background-color: #4D4D4A; margin: -24px; padding: var(--mdc-layout-grid-gutter-desktop)}
.gsf-footer__logo{height: 100%}
.gsf-footer__logo img{height: 5rem}
.gsf-footer__mapa iframe{width: 100%; height: 100%}