@media (max-width: 599px) {
    /* MENU */
    .mdc-top-app-bar{width: 56px}
    
    /* HEADER */
    .gsf-header--bg__residencia{background-color: white; background-size: auto calc(100vh - 2 * var(--mdc-layout-grid-margin-phone)); background-position: top;}
    .gsf-header__inner{height: 200vh}
    .gsf-header--logo__wrapper{height: calc(100vh - 2 * var(--mdc-layout-grid-margin-phone))}
    .gsf-header--logo{margin-top: 25vh;}
    .gsf-header--logo img{height: 12rem; margin-bottom: 0.8rem; margin-left: auto; margin-right: auto;}
    
    /* SECTIONS */
    section.gsf-gap {
        padding-top: 1rem; padding-bottom: 1rem;
        margin-top: 1rem; margin-bottom: 1rem;
    }
    
    /* TESTEMUNHO */
    .gsf-testemunho .mdc-card{
        background-color: rgba(0,0,0,0.5); 
        text-align: center; 
        margin: var(--mdc-layout-grid-margin-phone)
    }
}