html, body, .gsf-home{height: 100vh; align-items: center;}
html{background: black}

:root{
    --mdc-layout-grid-gutter-desktop: 0px;
    --mdc-layout-grid-gutter-tablet: 0px;
    --mdc-layout-grid-gutter-phone: 0px;
    --mdc-layout-grid-margin-desktop: 0px;
    --mdc-layout-grid-margin-tablet: 0px;
    --mdc-layout-grid-margin-phone: 0px;
}

.mdc-typography--headline4{margin-top: 0px; text-transform: uppercase}
.mdc-typography--overline{margin-bottom: 0px;}

.gsf-home{
    position: relative;
    display: flex;
    overflow: hidden;
}

.gsf-home img{height: 5rem}

.gsf-home--bg{
    position: absolute; height: 102vh; width: 102vh; z-index: -1;
    opacity: 1;
    filter: blur(3px);
        -webkit-filter: blur(3px);
    transition: all .5s ease-in-out;
        -webkit-transition: all .7s ease-in-out;
}
.gsf-home--bg__mouseover{transform: scale(1.1); opacity: .7 !important; -webkit-filter: blur(0px) !important; filter: blur(0px) !important;}
.gsf-home--bg__residencia{background: #44789D url(../img/home/remow_gsf-home--casa.jpg) no-repeat center; background-size: cover;}
.gsf-home--bg__condominio{background: #44789D url(../img/home/remow_gsf-home--condominio.jpg) no-repeat center; background-size: cover;}
.gsf-home--bg__empresa{background: #44789D url(../img/home/remow_gsf-home--empresa.jpg) no-repeat center; background-size: cover;}

.gsf-home--text{transition: all .5s ease-in-out}
.gsf-home--text__mouseover{transform: scale(.9)}