.gsf--visibility__no{
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
        -webkit-transition: all .7s ease-in-out;
}

.gsf-hide-phone{display: inherit}
.gsf-hide-desktop{display: none}

@media (max-width: 599px) {
    .gsf-hide-phone{display: none}
    .gsf-hide-desktop{display: inherit}
}

/* ALINHAR */
/* centro */
.gsf--center{align-items: center; justify-content: center; text-align: center;}
.gsf--center .mdc-typography--headline4,
.gsf--center .mdc-typography--headline5{
    margin-top: 0px;
    margin-bottom: .625rem
}

.gsf--center .mdc-typography--overline{margin-top: 0}

/* direita */
.gsf--right{align-items: right; justify-content: right; text-align: right;}