body{margin: 0}
a{text-decoration: none; color: var(--mdc-theme-primary)}

h1.mdc-typography--headline1 + h2, h3, h4, h5, h6{-webkit-margin-before: -4.02rem}
h1.mdc-typography--headline2 + h2, h3, h4, h5, h6{-webkit-margin-before: -2.51rem}
h1.mdc-typography--headline3 + h2, h3, h4, h5, h6{-webkit-margin-before: -2.01rem}
h1.mdc-typography--headline4 + h2, h3, h4, h5, h6{-webkit-margin-before: -1.41rem}
h1.mdc-typography--headline5 + h2, h3, h4, h5, h6{-webkit-margin-before: -1.00rem}
h1.mdc-typography--headline6 + h2, h3, h4, h5, h6{-webkit-margin-before: -0.84rem}

section h1.mdc-typography--headline1 + h2, h3, h4, h5, h6{-webkit-margin-before: -4.98rem}
section h1.mdc-typography--headline2 + h2, h3, h4, h5, h6{-webkit-margin-before: -3.11rem}
section h1.mdc-typography--headline3 + h2, h3, h4, h5, h6{-webkit-margin-before: -2.49rem}
section h1.mdc-typography--headline4 + h2, h3, h4, h5, h6{-webkit-margin-before: -1.76rem}
section h1.mdc-typography--headline5 + h2, h3, h4, h5, h6{-webkit-margin-before: -1.24rem}
section h1.mdc-typography--headline6 + h2, h3, h4, h5, h6{-webkit-margin-before: -1.03rem}

h2.mdc-typography--headline1 + h3, h4, h5, h6{-webkit-margin-before: -4.02rem}
h2.mdc-typography--headline2 + h3, h4, h5, h6{-webkit-margin-before: -2.51rem}
h2.mdc-typography--headline3 + h3, h4, h5, h6{-webkit-margin-before: -2.01rem}
h2.mdc-typography--headline4 + h3, h4, h5, h6{-webkit-margin-before: -1.41rem}
h2.mdc-typography--headline5 + h3, h4, h5, h6{-webkit-margin-before: -1.00rem}
h2.mdc-typography--headline6 + h3, h4, h5, h6{-webkit-margin-before: -0.84rem}

section h2.mdc-typography--headline1 + h3, h4, h5, h6{-webkit-margin-before: -4.98rem}
section h2.mdc-typography--headline2 + h3, h4, h5, h6{-webkit-margin-before: -3.11rem}
section h2.mdc-typography--headline3 + h3, h4, h5, h6{-webkit-margin-before: -2.49rem}
section h2.mdc-typography--headline4 + h3, h4, h5, h6{-webkit-margin-before: -1.76rem}
section h2.mdc-typography--headline5 + h3, h4, h5, h6{-webkit-margin-before: -1.24rem}
section h2.mdc-typography--headline6 + h3, h4, h5, h6{-webkit-margin-before: -1.03rem}

hr {width: 15%; -webkit-margin-start: auto !important; -webkit-margin-end: auto !important; margin-left: auto; margin-right: auto }

label{font-family: 'Source Sans Pro', sans-serif;}